@use '../abstacts/variables'as *;
@use '../abstacts/rest'as *;
@use '../abstacts/breakpoint'as *;

// ? Home Sctione
.home {
    width: 100%;
    overflow: hidden;

    &__left {
        text-align: center;
    }

    img {
        width: 280px;
        height: auto;
        border-radius: 50%;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 15px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 1.5;
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }

    &__hero {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 3em;
    }
}

@include breakpoint-down(small) {
    .container {
        padding: 0 15px;
    }

    img {
        width: 200px;
        height: auto;
        margin-top: 3rem;
    }
}

@include breakpoint-up(medium) {

    .home__hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
    }

    .home__left {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: end;

        img {
            width: 450px;
            height: auto;
            border-radius: 50%;
            padding: 10rem 0;
        }
    }

    .home__right {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;

        p {
            max-width: 400px;
        }
    }
}